
// MAIN LAYOUT
* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

body {
  background-color: #eee;
  font-family: 'UbuntuTitling', 'Arial', sans-serif !important;
  font-size: 14px;
}

.svg-fallback {
  display: none;
}
html.no-svg .svg-fallback {
  display: inherit;
}

#plaque {
  position: relative;
  top: -260px;
  width: 690px;   // width of sawtooth means this should be a multiple of 15
  margin: 0 auto;
  padding: 260px 15px 15px 15px;
  background-color: $plaque-color;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);

  html.no-rgba & {
    background-color: $plaque-color-fallback;
  }

  @media #{$screen-small} {
    width: 100%;
    padding: 1em;
    top: 0;
    border-radius: 0;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background: url('/img/sawtooth.png') repeat-x;

    // it ain't perfect, but it's probably pretty okay for now.
    opacity: 0.86;
  }
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'UbuntuTitling', 'Arial', sans-serif;
  font-weight: normal;
  text-shadow: 2px 2px 0px rgba(227,227,227,1);
  text-transform: uppercase;
  color: #333;
  white-space: nowrap;
  letter-spacing: -2px;

  @media #{$screen-small} {
    font-size: 1.4em;
  }

  @media #{$screen-tiny} {
    font-size: 1em;
  }
}

#question {
  display: none;
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 2em;
  z-index: 10;
  text-align: center;

  @media #{$screen-small} {
    width: 100%;
  }
}

.shield {
  position: relative;
  z-index: 12;
  margin: 0 auto;
  padding: 0;
  width: 660px;
  height: 340px;

  @media #{$screen-small} {
    background: $plaque-color;
    top: 0;
    width: 100%;
    height: auto;
  }
}

.shield-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // Also add this here because there is
  // a webkit bug where the bottom edge of
  // the SVG is still interfering with button
  pointer-events: none;

  svg {
    width: 660px;
    height: 360px;
    pointer-events: none;
    -webkit-filter: drop-shadow(0 6px 15px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0 6px 15px rgba(0, 0, 0, 0.15));
  }

  img {
    margin: 0 auto;
  }
}

.shield-content {
  position: absolute;
  top: 30px;
  bottom: 60px;
  width: 580px;
  left: 50%;
  margin-left: -290px;
  padding-top: 30px;

  @media #{$screen-small} {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    width: 100%;
    margin: 0;
    padding: 1em 1em 0;
  }

  .title-opener {
    position: relative;
    font-size: 1.6em;

    // Styled lines around the opening question
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      margin-top: 0.4em;
      width: 2.5em;
      border-top: 4px double #333;
    }
    &::before {
      margin-right: 0.25em;
      right: 3em;
    }
    &::after {
      margin-left: 0.25em;
      left: 3em;
    }
  }

  .title-city {
    display: block;
    font-size: 3.2em;

    @media #{$screen-small} {
      display: 1.6em;
    }
  }

  p.tagline {
    max-width: 240px;
    margin: 1em auto 0;

    @media #{$screen-small} {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .pi {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 8px;

    .flag-tag {
      width: 100%;
      height: 100%;
      fill: lightgray;
    }

    @media #{$screen-small} {
      display: none;
    }
  }
}

#location-form {
  form {
    font-size: 20px;
    margin-bottom: 1em;

    @media #{$screen-small} {
      margin-top: 0;
      margin-bottom: 0.75em;
    }
  }

  .location-form-input {
    height: 36px;
    width: 430px;
    margin: 0 auto;
    text-align: center;

    @media #{$screen-small} {
      width: auto;
      margin: 0 auto;
    }
  }

  #help {
    clear: both;
    margin: 1em auto;
  }
}

.round {
  height: 30px;
  width: 30px;
  margin: 0.75em auto;
  border-radius: 15px;
  line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  background-color: white;

  @media #{$screen-small} {
    margin: 0em auto;
    background: transparent;
  }
}

#input-location,
#input-go {
  @media #{$screen-small} {
    border-radius: 18px;
    width: 100% !important;
    clear: none;
    margin-left: 0;
  }
}

#input-location {
  float: left;
  padding: 0 0.25em 0 1em;
  width: 310px;
  height: 36px;
  border-width: 0;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  box-shadow: inset 0 0 16px rgba(0, 0, 0 ,0.2);

  @media #{$screen-small} {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 0.5em;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

#input-go {
  float: left;
  width: 120px;
  margin-top: 0px;

  @media #{$screen-regular} {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  @media #{$screen-small} {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.input-location-label {
  margin-bottom: 0.75em;
}

// Namespace custom link styles to page sections
section {
  a,
  a:visited {
    color: #333;
  }

  a:hover,
  a:active {
    color: #555;
  }
}

.alert {
  color: red;
}

#about {
  width: 550px;
  margin: 0 auto;
  display: none;
  clear: both;

  @media #{$screen-small} {
    width: 100%;
  }

  p:first-child {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 180%;
    text-align: left;
  }
  button {
    width: 150px;
  }
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;

  &.no-panning {
    cursor: default;
  }
}

// POPUP (on Leaflet map layer)
.leaflet-popup-content-wrapper {
  width: 275px;
  height: 350px;
  background: transparent url('/img/yellow_arrow.png') center top no-repeat !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  z-index: 10;
  font-family: 'UbuntuTitling';

  .leaflet-popup-content {
    text-align: center;

    h2 {
      margin-top: 45px;
      margin-bottom: 0;
      line-height: 100px;
      font-size: 130px;
    }
    p {
      width: 200px;
      font-size: 28px;
      line-height: 100%;
      margin: 0 auto 10px;
    }
    button {
      width: auto;
    }
    /*
    .reset-button {
      background: transparent url('/img/back.svg') center center no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 10px;
      top: 10px;
      cursor: pointer;
    }
    */
  }
}

// Detected via Modernizr
html.geolocation {
  .hide-if-geolocation {
    display: none;
  }
}
html.no-geolocation {
  .show-if-geolocation {
    display: none;
  }
  .hide-if-geolocation {
    display: block;
  }
}
