
// TYPOGRAPHY PRESETS

@font-face {
  font-family: 'UbuntuTitling';
  src: url('/fonts/UbuntuTitling-Bold-webfont.eot');
  src: url('/fonts/UbuntuTitling-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/UbuntuTitling-Bold-webfont.woff') format('woff'),
       url('/fonts/UbuntuTitling-Bold-webfont.ttf') format('truetype'),
       url('/fonts/UbuntuTitling-Bold-webfont.svg#UbuntuTitlingBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
